{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% if form.instance.pk %}Editar{% else %}Nuevo{% endif %} Producto{% endblock %}
{% block header %}<i class="fas fa-wine-bottle"></i> {% if form.instance.pk %}Editar{% else %}Nuevo{% endif %} Producto{% endblock %}

{% block extra_buttons %}
<a href="{% url 'productos:producto_list' %}" class="btn btn-outline-secondary">
  <i class="fas fa-arrow-left"></i> Volver al listado
</a>
{% endblock %}

{% block content %}
<div class="card shadow-sm border-0" style="border-top: 5px solid #4B1E1E;">
  <div class="card-body" style="background-color: #F8F6F3;">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="form-group mt-4 d-flex justify-content-between">
        <button type="submit" class="btn btn-vinoteca">
          <i class="fas fa-save"></i> Guardar
        </button>
        <a href="{% url 'productos:producto_list' %}" class="btn btn-outline-secondary">
          <i class="fas fa-times"></i> Cancelar
        </a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
